<odoo>
  <data>
    <menuitem id="my_docs.menu_root" name="my_docs" sequence="1" groups='base.group_erp_manager'/>

    <menuitem id="menu_task" name="task" parent="my_docs.menu_root" action="my_docs.show_task"/>
    <menuitem id="menu_report_page" name="report_page"  action="my_docs.show_report_page"/>


    <!-- in POINT -->
    <menuitem id="menu_task_in_point" name="task_in_point" />
    <menuitem id="menu_local_task_kz_default" name="local_task_kz_default" action="my_docs.show_local_task_kz"/>

    <!-- kanban -->
    <menuitem id="menu_task_in_kanbans" name="task_kanbans" />
    <menuitem id="menu_task_all_task" parent="menu_task_in_kanbans" name="task_all_task" action="my_docs.show_task_all_task"/>

    <menuitem id="menu_task_all_input_task_canban" parent="menu_task_in_kanbans"  name="task_all_input_task_canban" action="my_docs.show_task_all_input_task_canban"/>

    <menuitem id="menu_task_all_output_task_canban" parent="menu_task_in_kanbans" name="task_all_output_task_canban" action="my_docs.show_task_all_output_task_canban"/>
    <!-- kanban -->



    <!-- INPUT TASK -->
    <menuitem id="menu_task_input_parent" name="task_input_parent" parent="menu_task_in_point"/>

    <menuitem id="menu_input_task_no_expert" sequence="0" groups='my_docs_group_top_manager' parent="menu_task_input_parent" name="input_task_no_expert" action="my_docs.input_show_task_no_expert"/>
    <menuitem id="menu_input_task_await_expert"  sequence="1" parent="menu_task_input_parent" name="input_task_await_expert" action="my_docs.input_show_task_await_expert"/>
    <menuitem id="menu_input_task_await_client"  sequence="2" parent="menu_task_input_parent" name="input_task_await_client" action="my_docs.input_show_task_await_client"/>
    <menuitem id="menu_input_task_end" sequence="3" parent="menu_task_input_parent" name="input_task_end" action="my_docs.input_show_task_end"/>
    <!-- INPUT TASK -->

    <!-- OUTPUT TASK -->
    <menuitem id="menu_task_output_parent" name="task_output_parent" parent="menu_task_in_point"/>
    <menuitem id="menu_output_task_await_client" parent="menu_task_output_parent" name="output_task_await_client" action="my_docs.output_show_task_await_client"/>
    <menuitem id="menu_output_task_await_expert" parent="menu_task_output_parent" name="output_task_await_expert" action="my_docs.output_show_task_await_expert"/>
    <menuitem id="menu_output_task_end" parent="menu_task_output_parent" name="output_task_end" action="my_docs.output_show_task_end"/>
    <menuitem id="menu_output_task_no_expert" name="output_task_no_expert" parent="menu_task_output_parent" action="my_docs.output_show_task_no_expert"/>
    <!-- OUTPUT TASK -->

    <!-- ACTUAL TASK -->
    <menuitem id="menu_task_actual_parent" name="task_actual_parent"  action="my_docs.actual_show_task"/>
    <!-- ACTUAL TASK -->


    <menuitem id="menu_task_new_item" sequence="0" name="task_new_item" action="my_docs.show_task_new_item"/>

    <!-- <menuitem id="menu_partner" name="my_docs_lc" parent="my_docs.menu_root" sequence="1"/> -->

    <menuitem id="menu_lc" name="my_docs_lc" parent="my_docs.menu_root" sequence="1"/>
    <menuitem id="menu_reglament" name="reglament" parent="my_docs.menu_root" action="my_docs.show_reglament"/>
    <!-- <menuitem id="menu_lc_mail_in" name="mail_in" parent="menu_lc" sequence="0" action="my_docs.mail_in"/> <menuitem id="menu_lc_mail_out" name="mail_out" parent="menu_lc" sequence="1" action="my_docs.mail_out"/> <menuitem id="menu_lc_mail_all"
    name="mail_all" parent="menu_lc" sequence="2" action="my_docs.mail_all"/> <menuitem id="menu_lc_expert_mail_in_all" name="expert_mail_in_all" parent="menu_lc" sequence="1" action="my_docs.show_expert_mail_in_all"/> <menuitem id="menu_partner"
    name="partner" parent="menu_lc" sequence="3" action="my_docs.show_partner"/> <menuitem id="menu_partner_local" name="partner_local" parent="menu_lc" sequence="5" action="my_docs.show_partner_local"/> <menuitem id="menu_lc_new_task" name="new_task"
    parent="menu_lc" sequence="9" action="my_docs.show_new_task"/> -->
  </data>
</odoo>
